/*Reset*/

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}
/*Styling*/

body {
  font-family: 'Exo', sans-serif;
  background-color: ghostwhite;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.head-container {
  margin: 0;
  background-color: black;
  font-weight: 700;
  font-size: 80px;
  align-items: center;
  justify-content: center;
  color: ghostwhite;
  text-align: center;
  padding: 25px;
}

.head-sub {
  font-size: 30px;
  font-weight: 400;
}


.main-content-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.instruction-overlay {
  position: fixed;
  z-index:1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.7);
  visibility:visible;
}

.rules-screen {
  width: 350px;
  height: 500px;
  background: #606060;
  color: ghostwhite;
  position: fixed;
  z-index:2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 5%;
  visibility:hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.instruction-screen {
  width: 350px;
  height: 440px;
  background: #606060;
  color: ghostwhite;
  position: fixed;
  z-index:2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 5%;
  visibility:visible;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.instruction-title{
  margin: 20px;
  margin-bottom: 0;
  text-align: center;
}

.instruction-list-container {
  margin: 0 15px;
}

.instruction-list-container > li {
  margin-bottom: 10px
}

.start {
  border: 2px solid ghostwhite;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}

.start:hover {
  background: ghostwhite;
  color: #606060;
}

.score-screen {
  width: 350px;
  height: 400px;
  background: #606060;
  color: ghostwhite;
  position: fixed;
  z-index:2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 5%;
  visibility:hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.score-overlay {
  position: fixed;
  z-index:1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.7);
  visibility:hidden;
}

.score-title {
  margin: 20px;
  font-size: 30px;
  font-weight: 700;
}

.score-display {
  font-size: 26px;
  margin: 20px;
}

.score-message {
  font-size: 26px;
  margin: 20px;
  text-align: center;
}

.score-button {
  border: 2px solid ghostwhite;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}

.score-button:hover {
  background: ghostwhite;
  color: #606060;
}

.pause-screen {
  width: 350px;
  height: 350px;
  background:#606060;
  color: ghostwhite;
  position: fixed;
  z-index:2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 5%;
  visibility:hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.pause-screen-title {
  margin: 40px 0;
  font-size: 30px;
  font-weight: 700;
}

.pause-screen-time {
  margin: 20px 0;
  font-size: 26px;
}

.pause-screen-button {
  margin: 50px 0;
  border: 2px solid ghostwhite;
  padding: 10px;
  border-radius: 10px;
}

.pause-screen-button:hover {
  background-color: ghostwhite;
  color: #606060
}

.current-score {
  color: black;
  width: 150px;

}

.current-score-title {
  font-size: 24px;
}

.current-score-list {

  height:300px;
  width:125px;
  overflow:auto;
}

.wordlist {
  font-size: 20px;
}

tr {
  color: green;
}

.board {
  background: rgba(56,56,56,.6);
  width: 400px;
  height: 420px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dice {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a49999;
  font-size: 30px;
  box-shadow: 12px 8px 10px black;
}

.dice:hover {
  cursor: pointer;
  width: 78px;
  height: 78px;
  margin: 10px;
  border-radius: 39px 39px;
  border: 1px solid rgba(56,56,56,.6);
  box-shadow: none;
}

.menu {
  color: black;
  width: 150px;
  text-align: right;
}

.menu-title{
  font-size: 24px;
}

.menu-time {
  font-size: 20px;
}

.menu-button {
  margin: 10px 0;
  border: 2px solid black;
  color: black;
  padding: 10px;
  border-radius: 10px;
  width: 70px;
  text-align: center;
}

.menu-button:hover {
  background: black;
  color: white ;
}
